<p id="notice"><%= notice %></p>

<h1>Listing Submissions</h1>

<% @submissions.each do |submission| %>
	<div id="thumbnail">
			<%= link_to image_tag(submission.picture_url(:thumb)), submission %>
		</center>
		<center>
			<%= submission.title %>
		</center>
	</div>
<% end %>
<br>

<%= link_to 'New Submission', new_submission_path %>
