/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

#sidebar {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	color: lightblue;
	background-color: white;
	font-family: "Helvetica";
	font-size: 110%;
	position:fixed;
	z-index: 1000;
}

#sidebar-nav {
    margin-top: 2px;
	margin-left: auto;
    margin-right: auto;

}

body{
    /* margin: 0; */
    /* padding: 0; */
	border: 0;
	background-color: #ecf0f1;
	/* background-image: url("back.jpg");*/
	width: 100%;
	min-height: 100vh;
}

.nopadding {
   /* padding: 0 !important; */
   /* margin: 0 !important; */
}

h1{
    margin: 0;
    padding: 0;
}

#nav{
	margin: 0;
	padding: 0;
	min-height: 100vh;
	color: white;
	background-color: white;
	font-family: "Constantia";
	font-family: "Constantia";
	font-size: 150%;
}

#nav_top{
	margin: 0;
    padding: 0;
	position: fixed;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
}

li a {
	margin: 0;
    display: block;
    color: #000;
    padding: 30px 0 30px 50px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #3eafe7;
    color: white;
}

.button-primary {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.rm-round{
  border-radius: 0 !important;
}