// Place all the styles related to the Submissions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#thumbnail{
	width: 100px;
    padding: 5px;
    border: 1px solid black;
    margin: 25px;
}

#base{
	background-color: #06b1df;
	width: 100vw;
}

#pic{
	display: block;
    margin-left: auto;
    margin-right: auto
}