// Place all the styles related to the Submissions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#thumbnail{
    padding: 0px;
    margin: 0px;
	margin-left: auto;
    margin-right: auto;

}

#thumbnail_pic{
	background-color: white;
	width: 100px;
    padding: 0px;
    border: 1px solid black;
    margin: 0px;
	text-align: center;
	box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.09);
}

#base{
	background-color: #34495e;
	min-height: 150px !important;
	min-width: 100vw !important;
}

#pic{
	display: block;
    margin-left: auto;
    margin-right: auto;
	box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.09);

}

#comments{
	min-height: 10px; 
	background-color: white;
}

#avatar {
	border: 4px solid #bdc3c7;
	top: -60px;
	position: absolute;
}