// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#profile{
	background-color: white;
	min-height: 300px;
}

#profile_sub{
	background-color: white;
	min-height: 300px;
}

#profile_info{
	background-color: lightblue;
	min-height: 50px;
}

.right {
    border-right: 1px solid #ccc;
}

update{
	background-color: white;
}

#log{
	background-color: white;
	margin: auto;
	padding: 25px;
	width: 27%;
}

#log_button {
	width: 100%;
	
}